body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.game.over .square {
  background-color: #eee;
}

.square:hover {
  background-color: aqua;
  color: #888
}

.square:hover:disabled,
.square:disabled {
  background-color: #eee;
  color: #000;
}

.square.winner:disabled {
  background-color: #3ee86b;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.moves {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 200px;
}
.move, .player {
  list-style: none;
  flex: 0 0 50%;
  display: block;
}


.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.move .link-button, .player {
  color: white;
  text-align: center; 
  border-top: 1px solid rgba(255, 255, 255,0.3); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.move .link-button {
  background: skyblue;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

.player {
  background: #1565C0;
  padding: 10px 0;
}

.move:nth-last-of-type(-n+2) .link-button {
  border-bottom: none;
}

.move:hover .link-button {
  background: #1565C0;
}

.move:hover ~ li .link-button {
  background: green;
}
