body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.nav-bar {
  background-color: blue;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  color: white;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav-bar .nav-item a {
  background-color: blue;
  color: white;
}

.nav-bar .nav-item:hover a {
  background-color: white;
  color: blue;
}

.call-out {
  text-align: center;
}

ol, ul {
  padding: 0px;
  list-style: none
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.game.over .square {
  background-color: #eee;
}

.square:hover {
  background-color: aqua;
  color: #888
}

.square:hover:disabled,
.square:disabled {
  background-color: #eee;
  color: #000;
}

.square.winner:disabled {
  background-color: #3ee86b;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.moves {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.TicTacToe .move, .player {
  list-style: none;
  flex: 0 0 50%;
  display: block;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
}

.link-button:hover, .link-button:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

.TicTacToe .move .link-button,.TicTacToe .player {
  color: white;
  text-align: center; 
  border-top: 1px solid rgba(255, 255, 255,0.3); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.TicTacToe .move .link-button {
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
.player {
  background: blue;
  padding: 10px 0;
}

.move:nth-last-of-type(-n+2) .link-button {
  border-bottom: none;
}

.TicTacToe .link-button {
  background-color: green;
}

.TicTacToe .move .link-button {
  background: skyblue;
}
.TicTacToe .move:hover .link-button {
    background: #1565C0;
}

.TicTacToe .move:hover ~ li .link-button {
  background: green;
}
 

.colors, .clues {
  display: flex;
  align-items: center;
}

/* .MindMaster {
   display:flex;
  justify-content: center;
} */

/* .MindMaster .move {
  display: flex;
} */

:root {
  --gradientStart: #FFFFFFFF;
  --c0: #610345ff;
  --c1: #067bc2ff;
  --c2: #84bcdaff;
  --c3: #ecc30bff;
  --c4: #f37748ff;
  --c5: #d56062ff;
  --c6: #e94f37ff;
  --c7: #574b60ff;
  --c8: #3f334dff;
  --c9: #95190cff;
  --empty: #55555555;
  --blank: #55555555;
  --wrongColor: var(--empty);
  --wrongSpot: white;
  --rightSpot: black;
}
.color.c0         { color: var(--c0);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c0) 50%, var(--gradientStart)); }
.color.c1         { color: var(--c1);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c1) 50%, var(--gradientStart)); }
.color.c2         { color: var(--c2);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c2) 50%, var(--gradientStart)); }
.color.c3         { color: var(--c3);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c3) 50%, var(--gradientStart)); }
.color.c4         { color: var(--c4);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c4) 50%, var(--gradientStart)); }
.color.c5         { color: var(--c5);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c5) 50%, var(--gradientStart)); }
.color.c6         { color: var(--c6);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c6) 50%, var(--gradientStart)); }
.color.c7         { color: var(--c7);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c7) 50%, var(--gradientStart)); }
.color.c8         { color: var(--c8);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c8) 50%, var(--gradientStart)); }
.color.c9         { color: var(--c9);         background-image: radial-gradient(circle at left 20% top 20% ,var(--c9) 50%, var(--gradientStart)); }
.color.blank      { color: var(--blank);      background-image: radial-gradient(circle at left 20% top 20% ,var(--blank) 50%, var(--gradientStart)); }
.color.empty      { color: var(--empty);      background-image: radial-gradient(circle at left 30% top 30% ,#51251c90, #54272252 67%); }
.color.wrongColor { color: var(--wrongColor); background-image: radial-gradient(circle at left 30% top 30% ,#51251c90, #54272252 67%); }
.color.wrongSpot  { color: var(--wrongSpot);  background-image: radial-gradient(circle at left 20% top 20% ,var(--wrongSpot) 50%, var(--blank)); }
.color.rightSpot  { color: var(--rightSpot);  background-image: radial-gradient(circle at left 20% top 20% ,var(--rightSpot) 50%, var(--gradientStart)); }


.master-mind.game {
  --peg-margin: 3;
  --palette-peg: 45;
  --clue-peg: calc(var(--palette-peg) * (3/5));
  --move-width: calc(
      (
        var(--palette-peg) * var(--slot-count)
      ) + (
        var(--clue-peg) * var(--slot-count)
      )
  );
  height:100%;
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  min-width: calc(max(var(--move-width), calc(var(--palette-peg) * var(--color-count))) * 1px);
}

.master-mind.game > * {
  flex: 0 0 100%;
}

.master-mind.game .board {
  background-image: url("games/MindMaster/board.jpg");
  background-attachment: local;
  background-repeat: repeat;
  max-width: calc(var(--move-width) * 1px);
  min-width: calc(var(--move-width) * 1px);
  height: calc(100vh - (var(--palette-peg) + 140) * 1px);
}

.master-mind.game .board, 
.master-mind.game .palette {
  max-height:100%;
  overflow:auto;
}
.master-mind.game .code {
  text-align: left;
}

.link-button:focus .peg .color, 
.link-button:hover .peg .color {
  box-shadow: 0 0 3px white;
}
.swatch {
  /* display: flex;
  width: 45px;
  height: 45px;
  padding: 10px; */
}

.clues .swatch {
  /* width: 20px; */
  /* height: 20px; */
}

.peg .color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.master-mind.game .pegs {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.master-mind.game .peg {
  margin: calc(var(--peg-margin) * 1px);
  /* background-color: blue; */
}
.master-mind.game .peg,
.master-mind.game .palette .peg {
  width: calc((var(--palette-peg) - var(--peg-margin) * 2) * 1px);
  height: calc((var(--palette-peg) - var(--peg-margin) * 2) * 1px);
}
.master-mind.game .clue .peg {
  width: calc((var(--clue-peg) - var(--peg-margin) * 2) * 1px);
  height:calc((var(--clue-peg) - var(--peg-margin) * 2) * 1px);
}
.master-mind.game .move {
  display:flex;
  align-items:center;
}

@media all and (min-width: 605px) {
  .master-mind.game .palette { 
    min-width: calc((var(--palette-peg) * 3) * 1px); 
    max-width: calc((var(--palette-peg) * 3) * 1px); 
  }
  .master-mind.game .board {
      height: calc(100vh - 87px);
  }
}
