body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

.nav-bar {
  background-color: blue;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  color: white;
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav-bar .nav-item a {
  background-color: blue;
  color: white;
}

.nav-bar .nav-item:hover a {
  background-color: white;
  color: blue;
}

.call-out {
  text-align: center;
}

ol, ul {
  padding: 0px;
  list-style: none
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.game.over .square {
  background-color: #eee;
}

.square:hover {
  background-color: aqua;
  color: #888
}

.square:hover:disabled,
.square:disabled {
  background-color: #eee;
  color: #000;
}

.square.winner:disabled {
  background-color: #3ee86b;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.moves {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 200px;
}
.move, .player {
  list-style: none;
  flex: 0 0 50%;
  display: block;
}


.link-button {
  background-color: green;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
}

.link-button:hover, .link-button:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

.move .link-button, .player {
  color: white;
  text-align: center; 
  border-top: 1px solid rgba(255, 255, 255,0.3); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.move .link-button {
  background: skyblue;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
.player {
  background: blue;
  padding: 10px 0;
}

.move:nth-last-of-type(-n+2) .link-button {
  border-bottom: none;
}

.move:hover .link-button {
  background: #1565C0;
}

.move:hover ~ li .link-button {
  background: green;
}


.colors, .clues {
  display: flex;
  align-items: center;
  border: 1px solid white;
}
.colors, .clues, .swatch {
  background-color: #777;
}
.swatch {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 10px;
}

.link-button:focus .swatch .color, .link-button:hover .swatch .color {
  box-shadow: 0 0 3px white;
}

.clues .swatch {
  width: 20px;
  height: 20px;
}
.colors .color, .clues .color, .swatch .color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.masterMind.game-board {
   display:flex;
  justify-content: space-between
}
.masterMind .move {
  display: flex;
}
:root {
  --c0: #610345ff;
  --c1: #067bc2ff;
  --c2: #84bcdaff;
  --c3: #ecc30bff;
  --c4: #f37748ff;
  --c5: #d56062ff;
  --c6: #e94f37ff;
  --c7: #574b60ff;
  --c8: #3f334dff;
  --c9: #95190cff;
  --empty: #666;
  --blank: #aaa;
  --wrongColor: var(--empty);
  --wrongSpot: white;
  --rightSpot: black;
}
.color.c0 { background-color: var(--c0); }
.color.c1 { background-color: var(--c1); }
.color.c2 { background-color: var(--c2); }
.color.c3 { background-color: var(--c3); }
.color.c4 { background-color: var(--c4); }
.color.c5 { background-color: var(--c5); }
.color.c6 { background-color: var(--c6); }
.color.c7 { background-color: var(--c7); }
.color.c8 { background-color: var(--c8); }
.color.c9 { background-color: var(--c9); }
.color.blank { background-color: var(--blank);}
.color.empty { background-color: var(--empty);}
.color.wrongColor { background-color: var(--wrongColor); }
.color.wrongSpot { background-color: var(--wrongSpot); }
.color.rightSpot { background-color: var(--rightSpot); }
